body {
    padding: 200px;
    text-align: center;
    background: linear-gradient(to right, lightgreen, lightblue);
}

.container {
    background-color: white;
    border: none;
    border-radius: 50px;
    width: 25%;
    margin: auto;
    padding: 30px 80px 50px 80px;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgb(45, 102, 207);

}

@media (max-width: 500px) {
  body {
    padding: 80px 20px;
  }

  .container {
    width: 90%;
    padding: 30px 20px 40px 20px;
  }

  button {
    font-size: 14px;
    padding: 10px 15px;
  }

  #heading {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  button {
    font-size: 13px;
    padding: 8px 10px;
  }

  #heading {
    font-size: 18px;
  }
}
