body {
    font-family: cursive;
    padding: 80px 20px;
    background: linear-gradient(to right, lightgreen, lightblue);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 20px 30px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 90%;
    max-width: 400px;
    margin: auto;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 80px;
    border: none;
    border-radius: 50px;
    background-color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 390px) {
    .container {
        box-sizing: border-box;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 30px;
    }
}

