/* Base styles */
body {
    font-family: cursive;
    padding: 60px 20px;
    background-color: #333;
    text-align: center;
}

.container {
    background-color: white;
    padding: 30px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    width: 90%;
    max-width: 300px;
    margin: auto;
}

button {
    font-size: 1.2rem;
    padding: 10px 30px;
    border: 2px solid grey;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    background-color: coral;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(201, 64, 15);
}
