* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(to right, lightgreen, lightblue);
}

.container {
  background-color: white;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 30px 20px 40px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.3rem;
  word-wrap: break-word;
}

button {
  background-color: cornflowerblue;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  flex: 1 1 150px;
  margin-top: 15px;
}

button:active {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  p {
    font-size: 1.1rem;
  }
}

