* {
  box-sizing: border-box;
}

body {
  padding: 100px 20px;
  text-align: center;
  background-color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: white;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: none;
  border-radius: 25px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  font-size: 13px;
  border: 3px solid grey;
  border-radius: 10px;
  width: 60%;
  min-width: 200px;
}

button {
  background-color: chartreuse;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 20px;
  cursor: pointer;
  border: 3px solid chartreuse;
  border-radius: 10px;
}

ul {
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

li button {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 340px) {
  .container {
    width: 90%;
    padding: 20px;
    border-radius: 30px;
  }

  .input-section {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  input {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }

  li {
    width: 100%;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  li button {
    align-self: flex-end;
    font-size: 13px;
    padding: 6px 10px;
  }
}

